/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
///////////////////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');







@mixin lato_bold {
    font-family: 'Lato',sans-serif;
    font-weight: bold;
}
@mixin lato_normal {
    font-family: 'Lato',sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color:inherit
}

.main-header{
    background-color: #F4F4F4;
}
.main{
    background-color: #F4F4F4;
}
.navbar-items:hover {
    color: #739626; 
}
.arroy::after{
    content: url('/logo-contact/arroy-big.svg');
    margin-left: 10px;
}
.shadow {
    background: #ffffff; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
   }
   ///////////////////  main 
   .line::after{
       content: url('/logo-contact/line.svg');
       margin: 20px;
   }
   .line::before{
       content: url('/logo-contact/line.svg');
       margin: 20px;
   }
   .one, .two, .three:hover {
       color: #73962C; 
   } 
   .display-wall-title {
       @include lato_bold();
       font-size: 28px;
       line-height: 30px;
   }
   ////////////////// sidebar
   input[type='checkbox']{
       width: 22px;
       height: 22px;
   }
   .sidebar{
       background-color: #ffffff;
       display: inline-block;
   }
   ///////////////main-content
.search-main{
  height: 50px;
}
  
  main {
      background-color: #E5E5E5;;
  }
   .card-price-title{
       @include lato_bold();
       font-style: 17px;
       line-height: 22px;
   }
.card{
    width: 260px;
    margin: 0 0 0 0;
}
.bord{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
//////////////footer
.color-black{
  background-color: #26282C;
}
.footer-title{
  color:#ffffff
}
.footer-text-color{
  color: #BDBDBE;
}
.footer-main-part{
  background-color: #26282C;
}
.input{
  background-color: #26282C ;
  height: 45px;
}
.input::after{
  content : url('/logo-contact-footer/send_24px.svg');
}